/* Common CSS */

* {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  color: #7E7E7E;
}

a {
  color: #9ca4ab !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

span {
  color: #9ca4ab;
}

.swiper-button-next::after , .swiper-button-prev::after{
  content: "" !important;
}

/* Navbar */

.navbar {
  background-color: #1564C0;
}

.navbar a {
  font-size: 14px;
}

.form-control::placeholder {
  color: #fff !important;
  font-size: 13px;
  text-align: center;
  opacity: 0.8 !important;
}

.form-control {
  width: 500px !important;
}

/* Top Slider */

.top-slider {
  background-color: #1564C0;
  padding: 5px 0 35px;
}

.top-slider .swiper-pagination {
  left: 50%;
  transform: translateX(-50%)
}

.swiper-pagination-bullet {
  border: 1.2px solid #ffffff !important;
  background-color: transparent !important;
  margin: 0 4px;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color:#ffffff !important;
}

.top-slider-card .card {
  height: 480px;
  border-radius: 3px !important;
  border: 0;
}

.top-slider-card .card img{
  border-top: 3px !important;
}
.square-card{
  width: 570px !important;
}
.square-card .card{
  width: 570px;
}

.top-slider-card .card-body {
  position: absolute;
  bottom: 2px;
}

.top-slider-card .card-body p {
  font-size: 12px;
  color: #7E7E7E;
  font-weight: 600;
}

.top-slider-card .card-body h2 {
  font-size: 28px;
}

.top-slider .swiper-button-prev {
  left: 10%;
  top: 50%;
  transform: translateY(-30%);
}

.top-slider .swiper-button-next {
  right: 10%;
  top: 50%;
  transform: translateY(-30%);
}

.top-slider .ts-swiper-btn {
  background-color: #000000;
  opacity: .75;
  border-radius: 3px;
  color: #ffffff;
}

/* Products */

.products {
  padding: 2% 10%;
}

.products .product .card {
  border-radius: 0 !important;
}

.product .card:hover {
  border-color: #2196F3;
}

.products-area-title h4 {
  color: #4e4c4cd8;
  font-weight: 600;
}

.products-area-title span {
  color: #1564C0;
  font-weight: 700;
  font-size: 12px;
}

.product .card-img-top {
  width: 70%;
}

.product .star {
  font-size: 12px;
  color: #FF9101;
}

.product .star-text, .product .product-id {
  font-size: 12px;
  opacity: 0.6;
}

.product .product-name {
  font-size: 14px;
}

.product .product-price {
  color: #1564C0;
  font-size: 24px;
  font-weight: 700;
}

.product .alert {
  font-size: 11px;
  font-weight: bold;
  color: #E03B5D;
}

.product .shipping-alert {
  background-color: #EEEEEE;
  font-size: 12px;
}

.product .compare-button {
  width: 20%;
  background-color: #1564C0;
}

.product .add-cart-button {
  width: 80%;
  background-color: #2196F3;
  font-size: 12px;
  font-weight: 600;
}

.product .cart-button .btn {
  border-radius: 0;
  color: #ffffff;
  border: none;
  padding: 11px 0;
}

.product .cart-button {
  bottom: 0;
}

.product:hover .cart-button {
  display: flex !important;
}

.product .sale-alert {
  background-color: #2196F3;
  height: 30px;
}

.product .sale-alert span {
  color: #ffffff;
  font-size: 10px;
}

.product .web-alert {
  height: 40px;
}

.product .web-alert span {
  color: #2196F3;
  font-size: 10px;
  font-weight: 700;
}

/* Bestseller */

.bestseller-slider .swiper-button-next {
  right: -55px;
}

.bestseller-slider .swiper-button-prev {
  left: -55px;
}

.bestseller-slider .bs-swiper-btn {
  background-color: #EEEEEE;
  border-radius: 3px;
  color: #9E9E9E;
}

/* Footer */

.top-footer {
  border-bottom: 2.5px solid #F4F4F4;
}

.top-footer .footer-container {
  padding: 5% 20%;
}

footer h6 {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

footer a, footer span {
  font-size: 12px;
}

footer ul li {
  padding-bottom: 6px;
}

.bottom-footer .footer-container {
  padding: 3% 10%;
}