/* Common CSS */
* {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  color: #7E7E7E;
}

a {
  color: #9ca4ab !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

span {
  color: #9ca4ab;
}


/* Navbar */

.navbar {
  background-color: #1564C0;
}

.navbar a {
  font-size: 14px;
}

.form-control::placeholder{
  color: #fff !important;
  font-size: 13px;
  text-align: center;
   opacity: 0.8 !important;
}

.form-control {
width: 500px !important;
}

/* Footer */

.top-footer {
  border-bottom: 2.5px solid  #F4F4F4;
}

.top-footer .footer-container {
  padding: 5% 20%;
}

footer h6 {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

footer a, footer span{
    font-size: 12px;
}

footer ul li {
  padding-bottom: 6px;
}

.bottom-footer .footer-container {
  padding: 3% 10%;
}
